@layer theme, base, mui, components, utilities;
@import "tailwindcss";

@theme inline {
    --color-background: #fff;
    --color-primary: #FFFFFF;

    --font-annie: var(--font-annie);
    --font-urbanist: var(--font-urbanist);
}
